@import url(https://db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse+Bold);

.container {
    display: flex;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left {
    background-image: url(./image/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: auto 100%;
    flex: 1;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > .black {
        display: flex;
        background-color: rgba(0, 0, 0, 0.47);
        color: white;
        font-family: Norse Bold, sans-serif;
        font-size: 5rem;
        height: 150px;
        align-items: center;
        justify-content: center;
        margin-top: 200px;

        > img {
            height: 90%;
        }
    }

    > .credits {
        color: white;
        font-size: 0.8rem;
        text-align: center;

        > a {
            color: white;
        }
    }
}

.right {
    display: flex;
    flex-direction: column;
    flex: 2;

    > .top-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-weight: bold;
    }

    > .top-div, .bottom-div {
        flex: 1;
        background-color: rgb(245, 245, 245);
        padding: 50px;
        padding-right: 200px;

        > button {
            background-color: #596C48;
            padding: 10px 30px;
            border-radius: 10px;
            border: none;
            color: white;
            font-weight: bold;
        }

        > p > a:link, a {
            text-decoration: none;
            font-weight: bold;
            color: #596C48;
        }
    }

    > .form-div {
        display: flex;
        flex: 1;
        box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.83);
        z-index: 1;
        align-items: center;

        > form {
            padding-left: 50px;

            > legend {
                font-weight: bold;
            }

            > ul {
                list-style: none;
                padding: 0;

                > li {
                    display: flex;
                    gap: 75px;

                    > .inputs 


                        > label {
                            font-size: 0.7rem;
                        }
                    
                        > label, input {
                            display: block;
                    }
                }
            }
        }
    }
}
